@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --Blue: hsl(223, 87%, 63%);
    --Pale-Blue: hsl(223, 100%, 88%);
    --Light-Red: hsl(354, 100%, 66%);
    --Gray: hsl(0, 0%, 59%);
    --Very-Dark-Blue: hsl(209, 33%, 12%);
}

body{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
}

.container{
    margin: 85px auto 60px;
}

.copy{
    text-align: center;
    color: var(--Gray);
    font-size: 0.6em;
}


.image-logo{
    display: block;
    margin: 0 auto 40px;
    width: 52px;
}

.sustitulo{
    font-size: 1.2em;
    font-weight: 300;
    color: var(--Gray);
    text-align: center;
    margin-bottom: 16px;
}

.soon{
    color:var(--Very-Dark-Blue);
    font-weight: 800;
    
}


.subcribe{
    font-size: 0.65em;
    text-align: center;
    margin-bottom: 36px;
}

form{
    width: 282px;
    margin: auto;
}


#email-input{
    padding-left: 24px;
    width: 100%;
    height: 40px;
    border: 1px solid var(--Blue);
    border-radius: 32px;
    color: var(--Pale-Blue);
    margin-bottom: 3px; 
}
#email-input:focus{
    outline: none;
}
#error{
    color: var(--Light-Red);
    font-style: italic;
    font-size: 0.65em;
    text-align: center;
    visibility: hidden;
}

.boton{
    width: 100%;
    height: 40px;
    border-radius: 32px;
    border: none;
    background-color: var(--Blue);
    color:var(--Pale-Blue);
    font-weight: 700;
    margin-bottom: 70px;
    box-shadow: 3px 3px 5px var(--Blue);
}
.boton:hover{
    cursor: pointer;
}

.image-dashboard{
    width: 322px;
    display: block;
    margin:auto;
    margin-bottom: 120px;
}

.social-container{
    width: 150px;
    margin:0 auto 30px;
    display: flex;
    justify-content: space-between;
   
}
.icon-container{
    width: 30px;
    height: 30px;
    border: 1px solid var(--Blue);
    border-radius: 50%;
    display: grid;
    place-content: center;  
    fill: var(--Blue);
    color: var(--Blue);
    text-decoration: none;
}
.icon-container:hover{
    background-color: var(--Blue);
    color: var(--Pale-Blue);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* ----------------------Desktop------------ */

@media (min-width: 700px){
    .image-logo{
        width: 96px;
     
        margin-bottom: 60px;
    }
    .sustitulo{
        font-size: 2.5em;
    }
    .subcribe{
        font-size: 1.05em;
        font-weight: 300;
    }
    form{
        width:638px;
        display: flex;
        justify-content: space-between;
    }
    #email-input{
        width: 420px;
        height: 55px;
        font-size: 0.8em;
    }
    #error{
        text-align: left;
        padding-left: 24px;
    }
    .boton{
        width: 200px;
        height: 55px;
        margin-bottom: 90px;
        font-size: 0.8em;
    }
    .image-dashboard{
        width: 640px;
        margin-bottom: 74px;
    }
}